"""Advent of Code {{ year }}, day {{ day }}: https://adventofcode.com/{{ year }}/day/{{ day }}"""

from advent_of_code.base import Solution


class AocSolution(Solution[int]):
    def __init__(self):
        super().__init__({{ day }}, {{ year }})

    def solve_part_one(self) -> int:
        ...
