"""Advent of Code {{ year }}, day {{ day }}: https://adventofcode.com/{{ year }}/day/{{ day }}"""
from io import StringIO

import pytest

from advent_of_code.base import Solution


class AocSolution(Solution[int]):
    def __init__(self):
        super().__init__({{ day }}, {{ year }})

    def solve_part_one(self) -> int:
        with self.open_input() as f:
            ...


SAMPLE_INPUTS = [
    """\
""",
]


@pytest.fixture
def sample_input(request):
    with StringIO(SAMPLE_INPUTS[request.param]) as f:
        yield f


@pytest.mark.parametrize(
    ("sample_input", "expected"),
    [],
    indirect=["sample_input"]
)
def test_foo(sample_input, expected):
    ...
